.card-overlay {
    background: rgb(0,0,0);
    background: linear-gradient(176deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }
  .wrap{
    text-wrap: wrap;
  }
  .overlay{
    background: rgba(0, 0, 0, 0.5);
  }