
ion-searchbar.custom {
  --background: #deeaf8;
  --color:black;
  --border-radius:30px;
  --box-shadow: none !important;
  --icon-color:#000;
  --clear-button-color: #000;
}
ion-button.round{
  --border-radius:50px;
}

/* hide scrollbar but allow scrolling */

.card-overlay {
  background: rgba(0, 0, 0, 0.5);
}
